In [5]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
# Your code here
d=[{'name': 'Alice', 'age':25}, {'name': 'Bob', 'age': 30}]
st=[]
m=[]
for i in d:
    a=i['age']
    st.append(a)
    m=max(st)
print(m)

Question 26: Find the person with maximum age in list of dictionaries
30

In [10]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
# Your code here
l=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
l

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
 [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")
# Your code here

In [9]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
# Your code here
l=[{1,2,3},{4,5,6},{7,8,9}]
type(l)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

list

In [21]:

# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")
# Your code here
l=[{1,2,3,3},{4,5,5,6},{7,8,9}]
result=set.union(*l)
result

Question 30: Find the union of all sets in list of sets

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:

# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
# Your code here
l=[1+2j, 3+4j, 5+6j]
l

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

[(1+2j), (3+4j), (5+6j)]

In [26]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")
# Your code here
l=[1+2j, 3+4j, 5+6j]
for i in l:
    c=abs(i)
    print(c)

Question 32: Find the magnitude of each complex number in list
2.23606797749979
5.0
7.810249675906654

In [ ]:
######TUPLE###########

In [27]:
# Question: Find the sum and product of all elements in a tuple
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [40]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
# Your code here
n=int(input())
c=tuple(range(1,n+1))
print(c)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [41]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
# Your code here
l=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(l))

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

In [49]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
# Your code here
t=('a', 'b', 'c', 'd', 'e')
t[2]

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

'c'

In [50]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
t=(23, 45, 12, 67, 34, 89, 56)
max(t)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

89

In [52]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
# Your code here
t=(1, 5, 2, 5, 3, 5, 4, 5, 6)
t.count(5)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

4

In [54]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
# Your code here
t=(1,4.0,"data",True)
type(t)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

tuple

In [60]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
# Your code here
t=('java', 'python', 'c++', 'javascript')
t.index("python")

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

1

In [67]:

# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
# Your code here
t=(10, 20, 30, 40, 50)
25 in t
# c=25
# for i in t:
#     if i==c:
#         print(f'{c}is exist')
#         break
#     else:
#         print( f'{c}is not exist')
#

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

False

In [89]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# Your code here
st=[]
n=2
count=0
while count<5:
    st.append(n)
    n+=2
    count+=1
print(tuple(st))

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [2]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
# Your code here 

t=(15, 23, 31, 42, 56, 78)
av=sum(t)/len(t)
av

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

40.833333333333336

In [ ]:
#DICTIONARY DATATYPE ASSIGNMENT
print("SOLVED EXAMPLE:")
print("Find the key with maximum value in a dictionary")
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 95, 'Eve': 88}
max_key = max(scores, key=scores.get)
max_value = scores[max_key]
print(f"Dictionary: {scores}")
print(f"Key with maximum value: {max_key}")
print(f"Maximum value: {max_value}")
print("-" * 50)

In [3]:
# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages")
# Your code here
d={"karthik":10,"bhuvan":7}
d

Question 1: Create a dictionary of student names and their ages

{'karthik': 10, 'bhuvan': 7}

In [ ]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")
# Your code here
d={'a': 1, 'b': 2, 'c': 3}
d.update({"d":25})#d['d]=4
d

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3, 'd': 25}

In [6]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")
# Your code here
d={'name': 'John', 'age': 25, 'city': 'New York'}
print(d.keys())

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict_keys(['name', 'age', 'city'])

In [8]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")
# Your code here
d={'python': 3, 'java': 2, 'c++': 1}
print(d.values())

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
dict_values([3, 2, 1])

In [14]:

# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")
# Your code here
d={'name': 'Alice', 'age': 30, 'city': 'London'}
for i in d:
    if i=="age":
        print(f"{i} is exist")
        break

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
age is exist

In [20]:

# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")
# Your code here
d={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
d.pop('temp')
d

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

{'a': 1, 'b': 2, 'c': 4}

In [23]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")
# Your code here
d={'math': 85, 'science': 92, 'english': 78}
s=d.values()
print(sum(s))

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
255

In [37]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")
# Your code here
d={}
n=1
c=1
while c<=5:
    values=n**2
    d[c]=values
    n=n+1
    c=c+1
d

Question 8: Create a dictionary with squares of numbers 1 to 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")
# Your code here
d='hello'
c={}
for i in d:
    if i in c:
        c[i]+=1
    else:
        c[i]=1
c

Question 9: Count frequency of each character in string 'hello'

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")
# Your code here
f= {'a': 1, 'b': 2}
g={'c': 3, 'd': 4}
c={}
for i in f:     #or c=f|g
    c[i] =f[i]
for j in g:
    c[j]=g[j]
print(c)

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [61]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
d={'person':{"name":"alice","age":25}
   ,'rakesh':{'age':52}}
d

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

{'person': {'name': 'alice', 'age': 25}, 'rakesh': {'age': 52}}

In [69]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")
# Your code here
d={'person': {'name': 'Alice', 'age': 25}}
d['person']['name']

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

'Alice'

In [ ]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
# Your code here
der={"person":['rakesh',25],'fruites':['red','blue']}
        print(type(d))

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
<class 'dict'>

In [87]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")
# Your code here
der
der['fruites'].append("grapes")
der

Question 14: Add 'orange' to the 'fruits' list in nested dictionary

{'person': ['rakesh', 25],
 'fruites': ['red', 'blue', 'grapes', 'grapes', 'grapes']}

In [3]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")
# Your code here
d={'coordinates':(10,20),"rgb":(255,0,0)}
type(d)

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

dict

In [5]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")
# Your code here
d
d['coordinates'][0]

Question 16: Extract first coordinate from nested tuple

10

In [29]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")
# Your code here
d={'vowels':{'a','e','i','u'}, 'consonents':{'b','c','d'}}
type(d)

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

dict

In [31]:

# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")
# Your code here
d['vowels'].update('o')
d

Question 18: Add 'o' to vowels set in nested dictionary

{'vowels': {'a', 'e', 'i', 'o', 'u'}, 'consonents': {'b', 'c', 'd'}}

In [34]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")
# Your code here
d={'company':{"department":{"employe":{"name":"john",'id':'123'}}}}
type(d)

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

dict

In [37]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")
# Your code here
d['company']['department']['employe']['name']

Question 20: Access employee name from 3-level nested dictionary

'john'

In [39]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")
# Your code here
d={'int':42,'float':3.14,'str':"hello",'bool':True}
type(d)

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

dict

In [66]:
# Question 22: Check data type of each value in mixed dictionary
print("\nQuestion 22: Check data type of each value in mixed dictionary")
# Your code here
d={'int':42,'float':3.14,'str':"hello",'bool':True}
for i in d:
    print(type(d[i]))

Question 22: Check data type of each value in mixed dictionary
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [78]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
print("\nQuestion 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}")
# Your code here
d={'len':len,'str':str,'int':int}
type(d)

Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

dict

In [ ]:
# Question 24: Apply each function to "123" using dictionary
print("\nQuestion 24: Apply each function to '123' using dictionary")
# Your code here
values='123'
for i in d:
    d[i]=d[i](values)
d

Question 24: Apply each function to '123' using dictionary
<built-in function len>
<class 'str'>
<class 'int'>

{'len': <function len(obj, /)>, 'str': str, 'int': int}

In [85]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
print("\nQuestion 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}")
# Your code here
d={'double': lambda x: x*2, 'square': lambda x: x**2}

Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}

In [89]:
# Question 26: Apply each lambda function to 5
print("\nQuestion 26: Apply each lambda function to 5")
# Your code here
d = {
    'double': lambda x: x * 2,
    'square': lambda x: x ** 2
}

result = {}
for key, func in d.items():
    result[key] = func(5)

print(result)

Question 26: Apply each lambda function to 5
{'double': 10, 'square': 25}