In [ ]:
x=[12,3.4,"data"]#list is the collection of different data types and they are mutable(chanageable)
print(type(x))
print(len(x))
print(type(x[0]),type(x[1]),type(x[2]))

<class 'list'>
3
<class 'int'> <class 'float'> <class 'str'>

In [ ]:
#list is a collection of different elements contain different data types
#list is mutable because the elements can be changed in list where as in string elements cannot be changed because string is immutable

In [ ]:
x[0]=22
print(x[0])#in list we can add values and we can also change
print(x)

22
[22, 3.4, 'data']

In [ ]:
# x="abc"
# x[0]="aaaaa error occureded"#in string we cant modify as the list theyfore they are immutable

In [19]:
f=[143,33,[5,6,4]]
print(type(f))
f[2][2]

<class 'list'>

4

In [ ]:
x=[1,2,3,["data science","machine"],[ "learning"]]
x[3][-1][-3]

'ine'

In [40]:
x=[1,2,3,["data science","machine"],["learning"]]
x[4][0][-3:].upper()

'ING'

In [3]:
temperature_data = [

[

# Week 1

["Monday",[24.5, 34.2, 22.1, 36.0]],



["Tuesday",[25.0, 33.5, 23.0, 35.5]],

["Wednesday",[23.8, 32.0, 21.5, 34.0]],


],

[

# Week 2

["Monday",[26.1, 35.0, 24.2, 37.2]],

["Tuesday",[25.8, 34.5, 23.7, 36.1]],

["Wednesday",[24.9, 33.3, 22.5, 35.7]],

]

]
temperature_data

[[['Monday', [24.5, 34.2, 22.1, 36.0]],
  ['Tuesday', [25.0, 33.5, 23.0, 35.5]],
  ['Wednesday', [23.8, 32.0, 21.5, 34.0]]],
 [['Monday', [26.1, 35.0, 24.2, 37.2]],
  ['Tuesday', [25.8, 34.5, 23.7, 36.1]],
  ['Wednesday', [24.9, 33.3, 22.5, 35.7]]]]

In [4]:
temperature_data[0][2][1]

[23.8, 32.0, 21.5, 34.0]

In [5]:
temperature_data[1][1][1][-1]

36.1

In [7]:
temperature_data[-1][-2][-1][-1]

36.1

In [11]:
#now methods of list 
#append where it adds element in the list at the end
x=[1,2,3]
x.append(10)
x

[1, 2, 3, 10]

In [13]:
x=[1,2,3]
x.append([1,2,3])
x

[1, 2, 3, [1, 2, 3]]

In [ ]:
#extend where it extract the element  and add to the list it works based on index
x=[1,2,3]
x.extend([6,9,8])
x

[1, 2, 3, 6, 9, 8]

In [21]:
x=[34,56,78]
x.extend("abc")
x.extend(["abc"])
x

[34, 56, 78, 'a', 'b', 'c', 'abc']

In [ ]:
x=[3,5,6]#these remove is used to remove the specfic element in the list
x.remove(6)
x

[3, 5]

In [24]:
x=[12,4,5]
x.insert(1,"inserted")#these is insert method where in the bracket the left side is the index that were we need to insert and the right side is the which element you want to insert
x#if we give the position as large number then it will inserted as last(20,insert)

[12, 'inserted', 4, 5]

In [ ]:
x=[5,8,2,1]#sort method is used to sort the list element in the acsending order and it takes gedault as ascending 
x.sort()
x

[1, 2, 5, 8]

In [ ]:
x=["asd","aaa","Aaa"]
x.sort()#always captial letter first and if we combine both int and char it throws error 
x

['Aaa', 'aaa', 'asd']

In [29]:
x=["asd","aaa","Aaa"]
x.sort(reverse=True)#it used for descending order
x

['asd', 'aaa', 'Aaa']

In [31]:
x=[6,4,1,1,9]
x.reverse()#it used reverse the data just like mirror
x

[9, 1, 1, 4, 6]

In [ ]:
#shallow copy or copy by references
x=[1,2,4,3]
y=x
y[3]=3333#if you any modify in the y variable it changes in the x variable
print(y)
print(x)

[1, 2, 4, 3333]
[1, 2, 4, 3333]

In [36]:
x=[1,2,4,3]
y=x.copy()#deep copy where it not get reflected
y[3]=3333
print(y)
print(x)

[1, 2, 4, 3333]
[1, 2, 4, 3]

In [ ]:
#count
x=[1,2,3,1,1,5]#it counts the no of occuraines
print(x.count(1))

3

In [ ]:
#pop
x=[4,5,3,2,1,8]#pop removes the index but the remove method it removes the spicifc number or element which we give 
x.pop(1)#by default last value
x

[4, 3, 2, 1, 8]

In [ ]:
#tuple
#it is a small data type it has only two functions
#tuple is inmutable we can't modify the elements inside the tuple
#it helps to the store the values which are fixed but later no one can change it

In [42]:
#count in tuple
x=(10,20,30,10)
x.count(10)

2

In [46]:
#index in tuple
x=(10,20,30,10)
x.index(30)

2

In [ ]:
#DICTIONARIES
student={"name":"data science","duration":"6months"}
#in dict we have key and values and we dont use the index in the dict
print(student["duration"]#[] 
)
print(student["name"])
#only datatype is not used in the pair of key is list remaining data types can be used shuch as 1:"value",2.0:"value",(1,2,3):"value"

6months
data science

In [54]:
employee_data = {
"EMP001": {
"name": "Rahul Sharma",
"age": 29,
"department":  "Finance"
},
"EMP002": {
"name": "Priya Iyer",
"age": 26,
"department": "Human Resources"
}
}

In [56]:
employee_data["EMP001"]["department"]

'Finance'

In [57]:
employee_data["EMP002"]["age"]

26

In [ ]:
#.keys() is a in built function which helps to give the keys in the dictinoary

In [58]:
dict={"name":"data science","data":"15/07/2003"}
dict.keys()

dict_keys(['name', 'data'])

In [60]:
dict.values()

dict_values(['data science', '15/07/2003'])

In [61]:
#items is a combination of both key and value
dict.items()

dict_items([('name', 'data science'), ('data', '15/07/2003')])

In [63]:
#dict is mutable we can modify the values
dict["name"]="data"
dict

{'name': 'data', 'data': '15/07/2003'}

In [65]:
dict["new name"]="data3"
dict

{'name': 'data', 'data': '15/07/2003', 'new name': 'data3'}

In [ ]:
dict.update({"name":"datascience"})
dict#these update is used to update the data or even add the new data

{'name': 'datascience', 'data': '15/07/2003', 'new name': 'data3'}

In [ ]:
dict.pop("new name")#it is use to remove the key

'data3'

In [83]:
dict

{'name': 'datascience'}

In [84]:
dict.popitem()#it used to remove the last element

('name', 'datascience')

In [85]:
dict

{}

In [87]:
d={"s":1233444243,"a":2323131233}
d.clear()#it complete clear the dicticonary
d

{}