In [1]:
x={1,2,3,4,5,1,1,1}#set has {} same has dict but it doesnt have keyvalues and it gives unique values
x

{1, 2, 3, 4, 5}

In [2]:
x={1,"a","aa","a"}
x#it also same for characters

{1, 'a', 'aa'}

In [ ]:
#sets
#set has {} same has dict but it doesnt have keyvalues and it gives unique values
#in sets it gives the elements in auto sort by the first value
#and it doesn't have index

In [7]:
#union function
# it gives all the combination in the set and set always return without duplicates
x={2,3,4,5}
y={1,2,3,4,5,6}
x.union(y)

{1, 2, 3, 4, 5, 6}

In [8]:
#intersection
x.intersection(y)#it gives common elements in the set

{2, 3, 4, 5}

In [24]:
#differences
x={6,5,4,3}
y={1,3,2,5,9}
print(x,y)
print(x.difference(y))#"x differences of y means that the element which present ini x but not in y it displays the values ex(a-b)"
print(y.difference(x))#"y differences of x means that the element which present ini y but not in x it displays the values ex(b-a)"

{3, 4, 5, 6} {1, 2, 3, 5, 9}
{4, 6}
{1, 2, 9}

In [39]:
#differences_update
x={1,3,4,5,2}
y={1,5,2,7,8,9}
print(x,y)#it has two opearations the 1st one is it make the differences checking the y and it update the x value which have the differences
x.difference_update(y)
print(x)
y.difference_update(x)
print(y)

{1, 2, 3, 4, 5} {1, 2, 5, 7, 8, 9}
{3, 4}
{1, 2, 5, 7, 8, 9}

In [43]:
#symmetric differences
x={3,2,4,5,6,7}#it combination of union and intersection
y={1,9,8,7,5,4}
print(x.union(y))
print(x.intersection(y))
print(x.symmetric_difference(y))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 7}
{1, 2, 3, 6, 8, 9}

In [68]:
#subset
x={3,2,4,5,6,7,9,8,1}
y={1,9,8}
print(x.issubset(y))#it checks the x set values is present in the y set
print(y.issubset(x))#it checks the y set values is present in the x set

False
True

In [69]:
#super set
x.issuperset(y)

True

In [ ]:
#disjoint means every element is not common on both sets
x.isdisjoint(y)

False

In [76]:
class_a = {"Aarav", "Vivaan", "Aditya", "Rohan", "Yash", "Siddharth", "Manav", "Rahul","rakesh"}
class_b = {"Riya", "Sneha", "Aditya", "Rahul", "Ishita", "Manav", "Kavya", "Yash"}

In [78]:
len(class_a.intersection(class_b))

4

In [82]:
print(len(class_a.difference(class_b)))
print(class_a.difference(class_b))
print(class_b.difference(class_a))
print(class_b.symmetric_difference(class_a))
print(class_a.symmetric_difference(class_b))

5
{'rakesh', 'Aarav', 'Vivaan', 'Siddharth', 'Rohan'}
{'Kavya', 'Sneha', 'Riya', 'Ishita'}
{'Ishita', 'rakesh', 'Aarav', 'Vivaan', 'Sneha', 'Siddharth', 'Kavya', 'Riya', 'Rohan'}
{'Ishita', 'rakesh', 'Aarav', 'Sneha', 'Vivaan', 'Siddharth', 'Riya', 'Kavya', 'Rohan'}

In [ ]:
#only means -(differences)
#both means intersection
#atleastone means union

In [84]:
#boolean expression 
#TRUE=1,FALSE=0
print(True+1)
print(False+1)

2
1

In [5]:
#arthmatic opreator
x=19
y=2
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x%y)
print(x//y)#it is floor devision which gives the nearest value in the decimal
print(x**y)

21
17
9.5
38
1
9
361

In [10]:
s=10#normal assigment
s+=10#these means s=s+10 , += means compund assigment 
s-=1
s/2

9.5

In [11]:
x=20
x=-20
x+=20
x

0

In [18]:
x=101
x+=20
x//=2 
x/2

30.0

In [ ]:
#comparison opearotr
x=5
y=6
print("is",x>y)
print("is",x>=y)
print("is",x<y)
print("is",x<=y)
print("is",x==y)
print("is",x!=y)

is False
is False
is True
is True
is False
is True

In [ ]:
x=10
y=20 
x=y#in these we have given condition that x is equal to y so that it came false in the below condition of not equal
x!=y

False

In [ ]:
#logical operaotr
#AND
#OR
#NOT

In [29]:
#AND
x=10
y=5
x>5 and y>4

True

In [30]:
#AND
print(True and True) # True
print(True and False) # False
print( False and True) # False
print(False and False) # False

#OR
print(True or True) # True
print(True or False) # True
print( False or True) # True
print(False or False) #False


#NOT
print(not(True or True)) #False
print(not(True or False)) # False
print(not( False or True)) # False
print(not(False or False)) # True

True
False
False
False
True
True
True
False
False
False
False
True

In [ ]:
#IDENTIY OPERATORS :IS,IS NOT
#membership opearotr : IN,NOT IN

x=[1,2,3] #IN THESE THE IS CONDITION IS ACCPET THE TRUE WHEN THE BOTH VARIABLES ARE STORED IN THE SAME LOCATION 
x=y#THE PYTHON SAVES THE RAM MEMORY SO = IS NOT ASSIGNED A MEMORY LOCATION
z=[1,2,3]
print(x is y)
print(x is z)#WHY IT CAME FALSE MEANS THAT Z VARIABLE IS STORED IN THE OTHER LOATION BYTHE WAY IT THE SAME VALUE IT SHOWS THE FALSE
print(x is not z)#beacuse they are not in the same location

True
False
True

In [ ]:
#in
1 in [1,3,4,5]

False

In [36]:
1 in (2,4,5)

False

In [39]:
"1" in "DaTA1"

True

In [ ]:
1 in{1,3,4}#it works in dict only for the keys

True

In [41]:
1 in {1:4}

True

In [44]:
bin(15)

'0b1111'

In [46]:
bin(45)

'0b101101'

In [53]:
#BITWISE OPERATOR
#&,|,~

#&
print(3 & 5)
# |
print(3 | 5)

# ~
print(~3 & 5)

1
7
4

In [56]:
bin(3)

'0b11'