In [1]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
print("\nQuestion 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}")
# Your code here
d={'list':list,'dict':dict,'set':set}
type(d)

Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}

dict

In [ ]:
# Question 28: Create instances using class dictionary
print("\nQuestion 28: Create instances using class dictionary")
# Your code here

In [2]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
print("\nQuestion 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}")
# Your code here
d={'a':None,'b':None,'c':None}
d

Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}

{'a': None, 'b': None, 'c': None}

In [3]:
# Question 30: Replace all None values with 0
print("\nQuestion 30: Replace all None values with 0")
# Your code here
for i in d:
    d[i]=0
print(d)

Question 30: Replace all None values with 0
{'a': 0, 'b': 0, 'c': 0}

In [8]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}
print("\nQuestion 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}")
# Your code here
d={"isactive":True,'is_admin':'False'}
d

Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}

{'isactive': True, 'is_admin': 'False'}

In [9]:
# Question 32: Count True values in boolean dictionary
print("\nQuestion 32: Count True values in boolean dictionary")
# Your code here
c=0
for i in d:
    if d[i]==True:
        c=c+1
c

Question 32: Count True values in boolean dictionary

1

In [22]:
# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}
print("\nQuestion 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}")
# Your code here
d={'z1':3+4j,'z2':1+2j}
d

Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

{'z1': (3+4j), 'z2': (1+2j)}

In [24]:
# Question 34: Find magnitude of each complex number
print("\nQuestion 34: Find magnitude of each complex number")
# Your code here
for i in d:
    d[i]=abs(d[i])
d

Question 34: Find magnitude of each complex number

{'z1': 5.0, 'z2': 2.23606797749979}

In [16]:
# Question 35: Create a 4-level nested dictionary
print("\nQuestion 35: Create a 4-level nested dictionary")
# Your code here
d={'company':{'department':{'section A':{'employee1':{'name':'jhon','age':45}}}}}
d

Question 35: Create a 4-level nested dictionary

{'company': {'department': {'section A': {'employee1': {'name': 'jhon',
     'age': 45}}}}}

In [18]:
# Question 36: Access deepest value in 4-level nested dictionary
print("\nQuestion 36: Access deepest value in 4-level nested dictionary")
# Your code here
d['company']['department']['section A']['employee1']['age']

Question 36: Access deepest value in 4-level nested dictionary

45

In [19]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}
print("\nQuestion 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}")
# Your code here
d={'r1':range(3),'r2':range(5)}
d

Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

{'r1': range(0, 3), 'r2': range(0, 5)}

In [26]:
# Question 38: Convert each range to list
print("\nQuestion 38: Convert each range to list")
# Your code here
d={'r1':range(3),'r2':range(5)}
for i in d:
    d[i]=list(d[i])
d

Question 38: Convert each range to list

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [ ]:
# Question 39: Create a dictionary with generator values
print("\nQuestion 39: Create a dictionary with generator values")
# Your code here

In [27]:
# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
print("\nQuestion 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}")
# Your code here
d={'matrix':[[1,2],[3,4]],'vector':[5,6,7]}
d

Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [70]:
# Question 44: Find sum of each nested list
print("\nQuestion 44: Find sum of each nested list")
# Your code here
e={'matrix':[[1,2],[3,4]],'vector':[5,6,7]}
for key, value in d.items():
    if isinstance(value[0], list):
        e[key] = [sum(inner) for inner in value]
    else:
        e[key] = sum(value)
print(e)

Question 44: Find sum of each nested list
{'matrix': [3, 7], 'vector': 18}

In [71]:

# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
print("\nQuestion 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}")
# Your code here
d={'config': {'db': {'host': 'localhost', 'port': 5432}}}
d

Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [73]:
# Question 46: Access database port from nested configuration
print("\nQuestion 46: Access database port from nested configuration")
# Your code here
d={'config': {'db': {'host': 'localhost', 'port': 5432}}}
d['config']['db']['port']

Question 46: Access database port from nested configuration

5432

In [75]:
# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
print("\nQuestion 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}")
# Your code here
d={'points':((1,2),(3,4)),'rgb':((255,0,0),(0,255,0))}
d

Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [76]:

# Question 48: Extract first point coordinates
print("\nQuestion 48: Extract first point coordinates")
# Your code here
d={'points':((1,2),(3,4)),'rgb':((255,0,0),(0,255,0))}
d['points'][0]

Question 48: Extract first point coordinates

(1, 2)

In [86]:
# Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
print("\nQuestion 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}")
# Your code here
n={'groups': ({1, 2, 3}, {4, 5, 6}),'categories': ({'a', 'b'}, {'c', 'd'})}
n

Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}

{'groups': ({1, 2, 3}, {4, 5, 6}), 'categories': ({'a', 'b'}, {'c', 'd'})}

In [94]:
# Question 50: Find union of all nested sets
print("\nQuestion 50: Find union of all nested sets")
# Your code here 
n={'groups': ({1, 2, 3}, {4, 5, 6}),'categories': ({'a', 'b'}, {'c', 'd'})}
fn=set()
for i in n.values():
    for s in i:
        fn=fn.union(s)
fn

Question 50: Find union of all nested sets

{1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd'}

In [ ]:
############SETS###############

In [95]:
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

In [104]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
# Your code here
n=int(input())
d=set()
for i in range(1,n+1):
    d.add(i)
d

Question 1: Create a set of first 10 natural numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [105]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
# Your code here
s={1, 2, 3, 4, 5}
s.add(11)
s

Question 2: Add element 11 to set {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 11}

In [107]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
# Your code here
s={1, 2, 3, 4, 5, 6}
s.remove(3)
s

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

In [108]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
a={1, 2, 3, 4, 5}
b={4, 5, 6, 7, 8}
a.intersection(b)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{4, 5}

In [111]:

# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
# Your code here
a={1, 2, 3, 4, 5}
b={4, 5, 6, 7, 8}
a.difference(b)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

{1, 2, 3}

In [112]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
# Your code here
s={1, 2, 3, 4, 6, 7, 8}
5 in s

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

False

In [114]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
# Your code here
s={'a', 'b', 'c', 'd', 'e'}
len(s)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

5

In [115]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
# Your code here
s='hello world'
d=set()
for i in s:
    if i in"aeiouAEIOU":
        d.add(i)
d

Question 8: Create a set of vowels from string 'hello world'

{'e', 'o'}

In [119]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
# Your code here
l= [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s=set(l)
s

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

{1, 2, 3, 4, 5, 6, 7}

In [123]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
# Your code here 
a={1, 2, 3}
b={1, 2, 3, 4, 5, 6}
a.issubset(b)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

True

In [ ]:
# BOOLEAN DATATYPE ASSIGNMENT
# ==========================

In [124]:
# Question: Check if a number is both even and greater than 10
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a number is both even and greater than 10
Number: 16
Is even: True
Is greater than 10: True
Both conditions: True
--------------------------------------------------

In [126]:
# Question 1: Check if 25 is greater than 20 and less than 30
print("Question 1: Check if 25 is greater than 20 and less than 30")
# Your code here
if 25>20 and 25<30:
    print("yes 25 is greater than 20 and less than 30 ")

print(25>20 and 25<30)

Question 1: Check if 25 is greater than 20 and less than 30
yes 25 is greater than 20 and less than 30
True

In [ ]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")
# Your code here
print('python'=='Python')

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
False

In [ ]:
# Question 3: Check if 15 is divisible by both 3 and 5
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")
# Your code here
if 15/3 and 15/5:
    print("yes")
else:
    print("no")

SyntaxError: invalid syntax (4104545651.py, line 8)

In [129]:

# Question 4: Check if 7 is not equal to 8
print("\nQuestion 4: Check if 7 is not equal to 8")
# Your code here
print(7==8)

Question 4: Check if 7 is not equal to 8
False

In [133]:
# Question 5: Check if 100 is greater than 50 or less than 25
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")
# Your code here
print(100>50 and 100<25)

Question 5: Check if 100 is greater than 50 or less than 25
False

In [135]:
# Question 6: Check if 0 is falsy in Python
print("\nQuestion 6: Check if 0 is falsy in Python")
# Your code here
0 in[False]

Question 6: Check if 0 is falsy in Python

True

In [138]:
# Question 7: Check if empty string "" is falsy in Python
print("\nQuestion 7: Check if empty string '' is falsy in Python")
# Your code here
' 'in[False]

Question 7: Check if empty string '' is falsy in Python

False

In [141]:
# Question 8: Check if 42 is truthy in Python
print("\nQuestion 8: Check if 42 is truthy in Python")
# Your code here
n=int(input())
42 in [n]

Question 8: Check if 42 is truthy in Python

True

In [144]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")
# Your code here
print(5<=10<=15)

Question 9: Check if 10 is between 5 and 15 (inclusive)
True

In [146]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")
# Your code here 
print(3<3.14<4)

Question 10: Check if 3.14 is greater than 3 and less than 4
True

In [147]:
# NONE DATATYPE ASSIGNMENT
# =======================
# Question: Check if a variable is None
print("SOLVED EXAMPLE:")
print("Check if a variable is None")
variable = None
is_none = variable is None
print(f"Variable: {variable}")
print(f"Is None: {is_none}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a variable is None
Variable: None
Is None: True
--------------------------------------------------

In [150]:
# Question 1: Create a variable and assign None to it
print("Question 1: Create a variable and assign None to it")
# Your code here
i=None
i

Question 1: Create a variable and assign None to it

In [152]:
# Question 2: Check if None equals None
print("\nQuestion 2: Check if None equals None")
# Your code here
print(None==None)

Question 2: Check if None equals None
True

In [153]:

# Question 3: Check if None is None
print("\nQuestion 3: Check if None is None")
# Your code here
print(None is None)

Question 3: Check if None is None
True

In [155]:
# Question 4: Check if 0 is None
print("\nQuestion 4: Check if 0 is None")
# Your code here
print(0 is None)

Question 4: Check if 0 is None
False

In [158]:
# Question 5: Check if empty string is None
print("\nQuestion 5: Check if empty string is None")
# Your code here
print(" " is None)

Question 5: Check if empty string is None
False

In [159]:
# Question 6: Check if False is None
print("\nQuestion 6: Check if False is None")
# Your code here
print(False is None)

Question 6: Check if False is None
False

In [160]:
# Question 7: Check if empty list is None
print("\nQuestion 7: Check if empty list is None")
# Your code here
l=[]
print(l is None)

Question 7: Check if empty list is None
False

In [161]:

# Question 8: Check if empty dictionary is None
print("\nQuestion 8: Check if empty dictionary is None")
# Your code here
d={}
d is None

Question 8: Check if empty dictionary is None

False

In [164]:
# Question 9: Check if empty tuple is None
print("\nQuestion 9: Check if empty tuple is None")
# Your code here
() is None

Question 9: Check if empty tuple is None

False

In [166]:
# Question 10: Check if empty set is None
print("\nQuestion 10: Check if empty set is None")
# Your code here 
d=set()
d is None

Question 10: Check if empty set is None

False