In [1]:
print("SOLVED EXAMPLE:")
print("Calculate the sum of first 5 even numbers")
first_5_even = [2, 4, 6, 8, 10]
sum_even = sum(first_5_even)
print(f"First 5 even numbers: {first_5_even}")
print(f"Sum: {sum_even}")
print("-" * 50)

SOLVED EXAMPLE:
Calculate the sum of first 5 even numbers
First 5 even numbers: [2, 4, 6, 8, 10]
Sum: 30
--------------------------------------------------

In [12]:
# Question 1: Calculate the product of first 10 natural numbers
print("Question 1: Calculate the product of first 10 natural numbers")
# Your code here
import math
n=math.factorial(10)
n

Question 1: Calculate the product of first 10 natural numbers

3628800

In [5]:
# Question 2: Find the remainder when 156 is divided by 7
print("\nQuestion 2: Find the remainder when 156 is divided by 7")
# Your code here
n=156
d=7
r=n/d
r

Question 2: Find the remainder when 156 is divided by 7

22.285714285714285

In [6]:
# Question 3: Calculate the square of 25
print("\nQuestion 3: Calculate the square of 25")
# Your code here
n=25
s=n**2
s

Question 3: Calculate the square of 25

625

In [10]:
# Question 4: Find the cube root of 125
print("\nQuestion 4: Find the cube root of 125")
# Your code here
n=125
c=n**(1/3)
round(c)

Question 4: Find the cube root of 125

5

In [113]:
# Question 5: Calculate the sum of digits in number 12345
print("\nQuestion 5: Calculate the sum of digits in number 12345")
# Your code here
n=[1,2,3,4,5]
t=sum(n)
t

Question 5: Calculate the sum of digits in number 12345

15

In [52]:
# Question 6: Check if 97 is a prime number
print("\nQuestion 6: Check if 97 is a prime number")
# Your code here
n=int(input())
print(n)
if n<2:
    print("not a prime no")
else:
    for i in range(2,n):
        if n%i==0:
            print("not a prime no")
            break
    else:
        print("yes it is a prime no")

Question 6: Check if 97 is a prime number
98
not a prime no

In [53]:
# Question 7: Find the factorial of 8
print("\nQuestion 7: Find the factorial of 8")
# Your code here
import math
n=int(input())
print(math.factorial(n))

Question 7: Find the factorial of 8
40320

In [61]:
n=int(input())
fact=1
for i in range(1,n+1):
    fact=fact*i
    
print(fact)

40320

In [63]:
# Question 8: Calculate the average of numbers: 15, 23, 31, 42, 56
print("\nQuestion 8: Calculate the average of numbers: 15, 23, 31, 42, 56")
# Your code here
n=15, 23, 31, 42, 56
avg=sum(n)/len(n)
avg

Question 8: Calculate the average of numbers: 15, 23, 31, 42, 56

33.4

In [90]:
# Question 9: Find the greatest common divisor (GCD) of 48 and 36
print("\nQuestion 9: Find the greatest common divisor (GCD) of 48 and 36")
# Your code here
import math
gcd=math.gcd(45,88)
gcd

Question 9: Find the greatest common divisor (GCD) of 48 and 36

1

In [92]:
n = 45
d = 88

# Swap if needed
if n < d:
    n, d = d, n

while d != 0:
    n, d = d, n % d

print("GCD is:", n)

GCD is: 1

In [108]:
# Question 10: Calculate the sum of first 20 odd numbers
print("\nQuestion 10: Calculate the sum of first 20 odd numbers")
# Your code here 
n = int(input("Enter how many odd numbers to sum: "))
print("Sum is:", n * n)

Question 10: Calculate the sum of first 20 odd numbers
Sum is: 400

In [1]:
# Question: Calculate the area of a circle with radius 5.5
print("SOLVED EXAMPLE:")
print("Calculate the area of a circle with radius 5.5")
import math
radius = 5.5
area = math.pi * radius ** 2
print(f"Radius: {radius}")
print(f"Area: {area:.2f}")
print("-" * 50)

SOLVED EXAMPLE:
Calculate the area of a circle with radius 5.5
Radius: 5.5
Area: 95.03
--------------------------------------------------

In [4]:
# Question 1: Calculate the average of 3.14, 2.718, 1.618, 0.577
print("Question 1: Calculate the average of 3.14, 2.718, 1.618, 0.577")
# Your code here
a=[3.14, 2.718, 1.618, 0.577]
print(sum(a)/len(a))

Question 1: Calculate the average of 3.14, 2.718, 1.618, 0.577
2.01325

In [9]:
# Question 2: Convert 98.6 Fahrenheit to Celsius (F = C * 9/5 + 32)
print("\nQuestion 2: Convert 98.6 Fahrenheit to Celsius")
# Your code here
f=float(input())
celsius=(f-32)*5/9#C=(F−32)×5/9
print(celsius)

Question 2: Convert 98.6 Fahrenheit to Celsius
37.0

In [16]:
# Question 3: Calculate the compound interest on $1000 at 5.5% for 3 years
print("\nQuestion 3: Calculate compound interest on $1000 at 5.5% for 3 years")
# Your code here
p=float(input("enter the principle:"))
r=float(input("enter the annual rate"))
t=float(input("enter the time in years"))

A=p*(1+r/100)**t
print(f"compound interest is{A:.2f}")

Question 3: Calculate compound interest on $1000 at 5.5% for 3 years
compound interest is1174.24

In [18]:
# Question 4: Find the hypotenuse of a right triangle with sides 3.5 and 4.2
print("\nQuestion 4: Find the hypotenuse of a right triangle with sides 3.5 and 4.2")
# Your code here
import math
a=float(input())
b=float(input())
RT=math.sqrt(a**2)+(b**2)
RT

Question 4: Find the hypotenuse of a right triangle with sides 3.5 and 4.2

21.14

In [23]:
# Question 5: Calculate the volume of a sphere with radius 7.8
print("\nQuestion 5: Calculate the volume of a sphere with radius 7.8")
# Your code here
import math
r=float(input())
v=4/3*math.pi*r**3
print(f'volume{v:.2f}')

Question 5: Calculate the volume of a sphere with radius 7.8
volume1987.80

In [25]:
# Question 6: Round 3.14159 to 3 decimal places
print("\nQuestion 6: Round 3.14159 to 3 decimal places")
# Your code here
r=3.14159
print(f" {r:.3f}")

Question 6: Round 3.14159 to 3 decimal places
 3.142

In [28]:
# Question 7: Calculate the percentage: 45 out of 67
print("\nQuestion 7: Calculate the percentage: 45 out of 67")
# Your code here
a=45
b=67
p=a/b*100
print(f'{p:.4}%')

Question 7: Calculate the percentage: 45 out of 67
67.16%

In [31]:
# Question 8: Find the square root of 23.456
print("\nQuestion 8: Find the square root of 23.456")
# Your code here
n=23.456
r=n**(1/2)
round(r)

Question 8: Find the square root of 23.456

5

In [33]:
# Question 9: Calculate the simple interest: Principal=2500, Rate=6.5%, Time=2.5 years
print("\nQuestion 9: Calculate simple interest: Principal=2500, Rate=6.5%, Time=2.5 years")
# Your code here
p=2500
r=6.5
t=2.5
si=(p*r*t)/100
si

Question 9: Calculate simple interest: Principal=2500, Rate=6.5%, Time=2.5 years

406.25

In [34]:
# Question 10: Convert 45.7 degrees to radians
print("\nQuestion 10: Convert 45.7 degrees to radians")
# Your code here 
import math
d=45.7
r=d*math.pi/180
r

Question 10: Convert 45.7 degrees to radians

0.7976154681614086

In [36]:
print("SOLVED EXAMPLE:")
print("Count vowels in the string 'Hello World'")
text = "Hello World"
vowels = "aeiouAEIOU"
count = sum(1 for char in text if char in vowels)
print(f"String: {text}")
print(f"Number of vowels: {count}")
print("-" * 50)

SOLVED EXAMPLE:
Count vowels in the string 'Hello World'
String: Hello World
Number of vowels: 3
--------------------------------------------------

In [3]:
text="Hello World"
vowels='aeiouAEIOU'
count=0
for i in text:
    if i in vowels:
        count=count+1
print(count)

3

In [ ]:

# Question 1: Reverse the string "Python Programming"
print("Question 1: Reverse the string 'Python Programming'")
# Your code here
str='Python Programming'
str[::-1]#string[start : stop : step]

Question 1: Reverse the string 'Python Programming'

'gnimmargorP nohtyP'

In [29]:
# Question 2: Check if "racecar" is a palindrome
print("\nQuestion 2: Check if 'racecar' is a palindrome")
# Your code here
a=input("enter the string:")
b=a[::-1]
if a==b:
    print("it is a plindrome")
else:
    print("it is not a plindrome")

Question 2: Check if 'racecar' is a palindrome
it is a plindrome

In [32]:
# Question 3: Count the number of words in "Python is a great programming language"
print("\nQuestion 3: Count the number of words in 'Python is a great programming language'")
# Your code here
w='Python is a great programming language'
s=w.split()
print(len(s))

Question 3: Count the number of words in 'Python is a great programming language'
6

In [33]:
# Question 4: Convert "hello world" to title case
print("\nQuestion 4: Convert 'hello world' to title case")
# Your code here
w='hello world'
w.title()

Question 4: Convert 'hello world' to title case

'Hello World'

In [35]:
# Question 5: Find the length of string "Data Science"
print("\nQuestion 5: Find the length of string 'Data Science'")
# Your code here
a='Data Science'
print(len(a))

Question 5: Find the length of string 'Data Science'
12

In [36]:
# Question 6: Replace all spaces with underscores in "Machine Learning"
print("\nQuestion 6: Replace all spaces with underscores in 'Machine Learning'")
# Your code here
w='Machine Learning'
w.replace(" ","_")

Question 6: Replace all spaces with underscores in 'Machine Learning'

'Machine_Learning'

In [37]:
# Question 7: Check if "python" is in "Python Programming Language"
print("\nQuestion 7: Check if 'python' is in 'Python Programming Language'")
# Your code here
a='Python Programming Language'
"python" in a

Question 7: Check if 'python' is in 'Python Programming Language'

False

In [39]:
# Question 8: Extract the first 5 characters from "Artificial Intelligence"
print("\nQuestion 8: Extract the first 5 characters from 'Artificial Intelligence'")
# Your code here
a='Artificial Intelligence'
a[0:6]

Question 8: Extract the first 5 characters from 'Artificial Intelligence'

'Artifi'

In [40]:
# Question 9: Convert "UPPERCASE" to lowercase
print("\nQuestion 9: Convert 'UPPERCASE' to lowercase")
# Your code here
a='UPPERCASE'
a.lower()

Question 9: Convert 'UPPERCASE' to lowercase

'uppercase'

In [56]:
# Question 10: Remove all vowels from "Computer Science"
print("\nQuestion 10: Remove all vowels from 'Computer Science'")
# Your code here
a='Computer Science'
for i in a:
    if i not in " aeiouAEIOU":
        print(i)

Question 10: Remove all vowels from 'Computer Science'
C
m
p
t
r
S
c
n
c

In [1]:
# Question 11: Find the most frequent character in "mississippi"
print("\nQuestion 11: Find the most frequent character in 'mississippi'")
# Your code here
print("\nQuestion 11: Find the most frequent character in 'mississippi'")

text = "mississippi"
most_freq = max(set(text), key=text.count)
print("Most frequent character:", most_freq)

Question 11: Find the most frequent character in 'mississippi'

Question 11: Find the most frequent character in 'mississippi'
Most frequent character: s

In [91]:
# Question 12: Check if two strings are anagrams: "listen" and "silent"
print("\nQuestion 12: Check if two strings are anagrams: 'listen' and 'silent'")
# Your code here
a=input()
b=input()
if sorted(a)==sorted(b):
    
    print("it is a anagram")
else:
    print("not a anagram")

Question 12: Check if two strings are anagrams: 'listen' and 'silent'
not a anagram

In [92]:
# Question 13: Capitalize first letter of each word in "python programming language"
print("\nQuestion 13: Capitalize first letter of each word in 'python programming language'")
# Your code here
a='python programming language'
a.title()

Question 13: Capitalize first letter of each word in 'python programming language'

'Python Programming Language'

In [94]:
# Question 14: Count consonants in "Hello World"
print("\nQuestion 14: Count consonants in 'Hello World'")
# Your code here
a='Hello World'
count=0
for i in a:
    if i not in " AEIOUaeiou":
        count=count+1
print(count)

Question 14: Count consonants in 'Hello World'
7

In [113]:
# Question 15: Find the longest word in "Python is a programming language"
print("\nQuestion 15: Find the longest word in 'Python is a programming language'")
# Your code here
a='Python is a programming language'
s=a.split()
longest=s[0]
print(longest)
for i in s:
    if len(i)>len(longest):
        longest=i
print(longest)

Question 15: Find the longest word in 'Python is a programming language'
Python
programming

In [117]:
# Question 16: Remove all punctuation from "Hello, World! How are you?"
print("\nQuestion 16: Remove all punctuation from 'Hello, World! How are you?'")
# Your code here    
a='Hello, World! How are you?'
for i in a:
    if i not in ",!?":
        print(i,end="")

Question 16: Remove all punctuation from 'Hello, World! How are you?'
Hello World How are you

In [119]:
# Question 17: Check if string starts with "Python"
print("\nQuestion 17: Check if string starts with 'Python'")
# Your code here
a='Python'
a.startswith("Python")

Question 17: Check if string starts with 'Python'

True

In [120]:
# Question 18: Find the index of first occurrence of 'o' in "Hello World"
print("\nQuestion 18: Find the index of first occurrence of 'o' in 'Hello World'")
# Your code here
w='Hello World'
w.find("o")

Question 18: Find the index of first occurrence of 'o' in 'Hello World'

4

In [122]:
# Question 19: Split string "apple,banana,orange" by comma
print("\nQuestion 19: Split string 'apple,banana,orange' by comma")
# Your code here
a='apple,banana,orange'
a.split(',')

Question 19: Split string 'apple,banana,orange' by comma

['apple', 'banana', 'orange']

In [130]:
# Question 20: Join list ['Python', 'is', 'awesome'] with spaces
print("\nQuestion 20: Join list ['Python', 'is', 'awesome'] with spaces")
# Your code here
a= ['Python', 'is', 'awesome']
" ".join(a)

Question 20: Join list ['Python', 'is', 'awesome'] with spaces

'Python is awesome'

In [131]:
# Question 21: Check if string contains only digits: "12345"
print("\nQuestion 21: Check if string contains only digits: '12345'")
# Your code here
st='123456'
st.isdigit()

Question 21: Check if string contains only digits: '12345'

True

In [133]:
# Question 22: Check if string contains only letters: "HelloWorld"
print("\nQuestion 22: Check if string contains only letters: 'HelloWorld'")
# Your code here
str='HelloWorld'
str.isalpha()

Question 22: Check if string contains only letters: 'HelloWorld'

True

In [162]:
# Question 23: Convert "hello world" to "hElLo WoRlD" (alternating case)
print("\nQuestion 23: Convert 'hello world' to 'hElLo WoRlD' (alternating case)")
# Your code here
s="hello world"
count=" "
index=0
for i in s:
    if i ==" ":
        count+=" "
    else:
        if index%2==0:
            count+=i.lower()
        else:
            count+=i.upper()
        index +=1
print(count)

Question 23: Convert 'hello world' to 'hElLo WoRlD' (alternating case)
 hElLo WoRlD

In [176]:
# Question 24: Find all positions of 'a' in "banana"
print("\nQuestion 24: Find all positions of 'a' in 'banana'")
# Your code here
wrd='banana'
postion=[]
for index, i in enumerate(wrd):
    if i=="a":
        postion.append(index)
print(postion)

Question 24: Find all positions of 'a' in 'banana'
[1, 3, 5]

In [172]:
# Question 25: Remove leading and trailing whitespace from "  Hello World  "
print("\nQuestion 25: Remove leading and trailing whitespace from '  Hello World  '")
# Your code here
s='  Hello World  '
s.strip()

Question 25: Remove leading and trailing whitespace from '  Hello World  '

'Hello World'