In [2]:
#  SOLVED EXAMPLE
# --------------
# Question: Find the maximum and minimum values in a list
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [6]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
# Your code here
l=[]
for i in range(1,11):
    c=i**2
    l.append(c)
print(l)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
c=0
for i in l:
    if i%2==0:
        c=c+i
print(c)

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
30

In [ ]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
# Your code here
l=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
f=set(l)
d=list(f)
d

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

[1, 2, 3, 4, 5, 6, 7]

In [19]:
str=[]
for i in l:
    if i not in str:
        str.append(i)
print(str)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
# Your code here
l=[64, 34, 25, 12, 22, 11, 90]
l.sort(reverse=True)
l

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

[90, 64, 34, 25, 22, 12, 11]

In [22]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
# Your code here
l=[15, 23, 31, 42, 56, 78, 91]
t=sum(l)/len(l)
t

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

48.0

In [ ]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
# Your code here

l=int(input())
st=[]
for i in range(0,l+1):
    if i==0:
        st.append(i)
    elif i==1:
        st.append(i)
    else:
        d=st[i-1]+st[i-2]
        st.append(d)
print(st)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [52]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
# Your code here
l=[45, 67, 23, 89, 12, 34, 78]
l.sort(reverse=True)
print(l[1])

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
78

In [53]:
l=[45, 67, 23, 89, 12, 34, 78]
d=max(l)
st=[]
for i in l:
    if i<d:
        st.append(i)
print(f"the second higheset number is :{max(st)} ")

the second higheset number is :78

In [55]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
# Your code here
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.reverse()
l

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
# Your code here
l=[1, 5, 2, 5, 3, 5, 4, 5, 6]
l.count(5)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

4

In [71]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
# Your code here


st = []

for n in range(2, 51):          # check from 2 to 50
    for i in range(2, n):       # try dividing n by numbers from 2 to n-1
        if n % i == 0:
            break               # not prime, so break
    else:
        st.append(n)            # prime, so add to list

print(st)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [78]:
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
st=[]
for i in l:
    st.extend(i)
st

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
# Your code here
a=[1, 2, 3, 4, 5]
b=[4, 5, 6, 7, 8]
l=set(a)
s=set(b)
l.intersection(s)

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

{4, 5}

In [87]:
a
b
st=[]
for i in a :
    if i in b:
        st.append(i)
st

[4, 5]

In [91]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
# Your code here
lists=[[1, 2], [3, 4], [5, 6]]
print(lists)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [92]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
st=[]
for i in l:
    d=sum(i)
    st.append(d)
st

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[6, 15, 24]

In [93]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [100]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
# Your code here
l=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
st=[]
for i in l:
    s=max(i)
    st.append(s)
st

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

[5, 9, 8]

In [ ]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here

In [ ]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
# Your code here

In [118]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
# Your code here
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
st=[]
a=[]
for i in l:
    st.extend(i)
    
for j in st:
    if j%2==0:
        a.append(j)
a

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[2, 4, 6, 8]

In [121]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
# Your code here
l=[1, 'hello', 3.14, True, [1, 2, 3]]
l

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]

[1, 'hello', 3.14, True, [1, 2, 3]]

In [ ]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
# Your code here
l=['apple', 'banana', 'cherry', 'date']
for i in l:
    print(len(i),end=",")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
5,6,6,4,

In [149]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
a= [(1, 'a'), (2, 'b'), (3, 'c')]
print(a)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

In [159]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
# Your code here
l=[(1, 'a'), (2, 'b'), (3, 'c')]
s=tuple(l)
print(s)
for i in s:
    print(i[0],end=" ")

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
((1, 'a'), (2, 'b'), (3, 'c'))
1 2 3

In [161]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
# Your code here
d=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
d

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [178]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")
# Your code here
d=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
st=[]
for i in d:
    s=i['name']
    st.append(s)
st

Question 25: Extract all 'name' values from list of dictionaries

['Alice', 'Bob']